    body {
        margin: 0;
        padding: 0;
        font-family: 'Times New Roman';
        background-color: orangered;
        background-position: center;
        background-size: cover;
        height: 100vh;
        min-height: 100px;
    }
    
    .menu {
        background: #000;
        text-align: left;
    }
    
  
   
    
    .carsmenu {
        display: none;
        top: 5.8%;
        position: relative;
    }
    
    .carsmenu ul {
        position: absolute;
    }
    
    .menu ul li:hover .carsmenu {
        display: block;
        position: absolute;
        background: #000;
        margin-top: 17px;
        margin-left: -80px;
    }
    
    .menu ul li:hover .carsmenu ul {
        display: block;
        margin: 5px;
    }
    
    .menu ul li:hover .carsmenu ul li {
        width: 110px;
        padding: 12px;
        border-bottom: 1px #fff;
        background: #000;
        transition: 0.4s ease;
        text-align: left;
        border-radius: 0;
    }
    
    .lamb {
        display: none;
        top: 5.8%;
        position: relative;
    }
    
    .lamb ul {
        position: absolute;
    }
    
    .menu ul li:hover .lamb {
        display: block;
        position: absolute;
        background: #000;
        margin-top: 17px;
        margin-left: -80px;
    }
    
    .menu ul li:hover .lamb ul {
        display: block;
        margin: 5px;
    }
    
    .menu ul li:hover .lamb ul li {
        width: 110px;
        padding: 12px;
        border-bottom: 1px #fff;
        background: #000;
        transition: 0.4s ease;
        text-align: left;
        border-radius: 0;
    }
    
    
    
    
    